html,
body {
  width: 100%;
  height: 100%;
  font-family: "Google Sans", sans-serif;
  overflow: hidden;
  background-color: black;
  position: fixed;
  color: white;
}
body {
  margin: 0px;
  padding: 0px;
}
iframe {
  border: none;
  width: 100%;
  height: 100%;
  background-color: grey;
}
