$color-blue: rgb(138, 233, 219);
$color-dark: rgb(0, 0, 0);
$color-light: rgb(255, 255, 255);

$transition-duration: 0.33s;

@font-face {
  font-family: Raster;
  src: url(../assets/fonts/raster.ttf);
}

@mixin textCrop($ascender: -0.25em, $descender: -0.25em) {
  &::after,
  &::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }
  
  &::before {
    margin-top: $ascender;
  }

  &::after {
    margin-bottom: $descender;
  }
}

@mixin fullAbsolute() {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

html,
body {
  font-family: Raster, "Courier New", Courier, monospace;
}

* {
    box-sizing: border-box;
}

.hidden {
    visibility: hidden;
}