.main-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.main-container > iframe {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

video.video-webcam {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.--hidden {
  display: none;
}

.main-canvas,
.p5Canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p5Canvas {
  width: 100% !important;
  height: 100% !important;
}
